<!DOCTYPE html>
<html>

<head>
    <!-- 设置文档的字符集为UTF-8 -->
    <meta charset="utf-8">
    <!-- 设置页面标题 -->
    <title>[  ]资源</title>
    <!-- 设置浏览器兼容性 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!-- 设置页面描述 -->
    <meta name="description" content="[  ]资源">
    <!-- 设置页面关键字 -->
    <meta name="keywords" content="[  ]资源">
    <!-- 设置作者信息 -->
    <meta name="author" content="BOX STUDIO">
    <!-- 设置视口，禁止用户缩放 -->
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- 设置网站图标 -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- 引入样式表 -->
    <link rel="stylesheet" href="./styles/master.css">
</head>

<body id="teaser-page">
    <div class="l-stage">
        <main>
            <!-- 页面主体部分开始 -->
            <div class="l-intro">
                <!-- 简介部分 -->
                <div class="intro-btn-skip"><a id="s_st" href="#">S_ST</a></div>
            </div>
            <div class="l-main">
                <!-- 主要内容部分 -->
                <div class="l-first">
                    <!-- 第一部分 -->
                    <div class="first-bg"></div>
                    <div class="first-flare-wrap">
                        <div class="first-flare01"></div>
                        <div class="first-flare02"></div>
                    </div>
                    <div class="first-megumi-back"></div>
                    <div class="first-megumi-front"></div>
                    <div class="first-text-wrap">
                        <!-- 第一部分文本部分 -->
                        <div class="first-text-main">
                            <img src="./images/teaser/main_text.png" width="416" height="442" class="pcv">
                            <img src="./images/teaser/main_text_sp.png" class="spv">
                        </div>
                        <div class="first-text">
                            <!-- 文本内容 -->
                            <!-- 这里包含很多<span>标签，每个对应一段文本 -->
                        </div>
                    </div>
                    <div class="sakura-front">
                        <!-- 樱花效果 -->
                        <div class="sakura-front-l"></div>
                        <div class="sakura-front-m"></div>
                        <div class="sakura-front-s"></div>
                    </div>
                </div>
                <div class="l-fix"></div>
                <div class="l-second">
                    <!-- 第二部分 -->
                    <div class="sakura-back">
                        <!-- 背景樱花效果 -->
                        <div class="sakura-back-l"></div>
                        <div class="sakura-back-m"></div>
                        <div class="sakura-back-s"></div>
                    </div>
                    <div class="l-movie">
                        <!-- 视频部分 -->
                        <div class="movie-ss"></div>
                        <div id="movie-player"></div>
                        <div class="movie-btn">
                            <div class="movie-btn-play">
                                <!-- 视频播放按钮 -->
                                <a target="_blank" href="#">
                                    <img src="./images/teaser/main_movie_btn_play.png" width="401" height="257">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="l-news-wrap">
                        <!-- 新闻部分 -->
                        <div class="l-news">
                            <div class="news-btn-more">
                                <!-- 新闻更多按钮 -->
                                <a target="_blank" href="index.html">首页↗</a>
                            </div>
                            <div class="link-btn-1st_site pcv">
                                <!-- 第一站链接 -->
                                <a target="_blank" href="#">HTML模板 ↗</a>
                            </div>
                        </div>
                        <div class="l-twitter">
                            <!-- Twitter部分 -->
                            <div class="twitter-btn-more">
                                <!-- Twitter更多按钮 -->
                                <a target="_blank" href="#">↖手办商店</a>
                            </div>
                            <div class="link-btn-1st_site">
                                <!-- 第一站链接 -->
                                <a target="_blank" href="#">HTML模板</a>
                            </div>
                            <div class="link-btn-radio">
                                <!-- 博客链接 -->
                                <a target="_blank" href="#">↖BlenderMMD&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <footer class="l-footer">
                        <!-- 页脚 -->
                        <p class="footer-copy">Copyright © 2025 All Rights Reserved ZhangYuanda </p>
                    </footer>
                </div>
            </div>
        </main>
    </div>
    <!-- 引入脚本 -->
    <script src="./scripts/libs.min.js"></script>
    <script src="./scripts/functions.min.js"></script>
</body>

</html>
